<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzN8VVxBdi5LkhO4_y9UQNNuNTBqHur54</string>
	<key>GCM_SENDER_ID</key>
	<string>412460933202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.footsteps</string>
	<key>PROJECT_ID</key>
	<string>footsteps-306d6</string>
	<key>STORAGE_BUCKET</key>
	<string>footsteps-306d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412460933202:ios:7bdca8dc45f741084cff8b</string>
</dict>
</plist>